@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kdam+Thmor+Pro&display=swap');


#title{
    text-align: center;
    background-color: rgb(59, 205, 190);
    padding: 20px;
    color: white;
}

.color-gray{
    background-color: #C4C4C4;
}

.div-style{  /**/
    width: 1440px;
    height: 55px;
}

.font-style-bold{
    font-weight: bold;
    font-family: sans-serif;
}

.font-style-italyc{
    font-style: italic;
}

.footer-styles{
    font-size: 20px;
    background-color: rgb(37, 138, 128);
    color: #FFFFFF;
    text-align: center;
    padding: 9px;
    position:static;
}

.fuente{
    font-family: sans-serif;
    
}

.header-style{
    background-color: rgb(59, 205, 190);
    text-align: center;
    padding: 34px;
    color: white;
}

.section-header{
    text-align: center;
    background-color: #f0f0f0;
}

.space-white{
    margin: 80px;
}

.sub-titles{
    background-color: #C4C4C4;
    color: rgb(69, 138, 130);
}


.list-style{
    text-align: left;
    text-decoration: underline;
}

.list-name{
    color: white;
    font-size: 15px;
}

.parrafo{
    font-family: 'Kdam Thmor Pro', sans-serif;;
    font-size: 15px;
}